<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<h2>Contacts</h2>
<ul>
<% for contact in @person.contacts %>
  <li><%= contact.date %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Add contact', person_contacts_path(@person) %>
<%= link_to 'Back', people_path %>
