<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.person.name %></td>
        <td><%= contact.date %></td>
        <td><%= link_to 'Show Person', [@person] %></td>
        <td><%= link_to 'Edit Contact', edit_person_contact_path(@person, contact) %></td>
        <td><%= link_to 'Destroy Contact', [@person, contact], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_person_contact_path(@person) %>
