<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @contact.person_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @contact.date %>
</p>

<%= link_to 'Edit', edit_person_contact_path(@person, @contact) %> |
<%= link_to 'Back', person_contacts_path(@person) %>
